@import url("nullstyle.css");

* {
    user-select: none;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
}

#canvas {
    background-position: center;
    border: 1px solid black;
}
